a{
    text-decoration: none!important;
}

.color1 {
    background: #0eb1a7;
    background: linear-gradient(to right, #0eb1a7 7%, #64c399 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

.mainContainerIntro {
    transform: translateY(100vh)
}

.popupFormSectionIntro {
    transform: none !important
}

#popupFormSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 101;
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
    transition: all 1s cubic-bezier(0.37, 0, 0.63, 1);
    transform: translateY(-100vh);
    border-top: 3px solid #0eb1a7
}

@media(min-width: 768px) {
    #popupFormSection {
        flex-direction: row-reverse
    }
}

#popupFormSection #popupForm {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden
}

@media(min-width: 768px) {
    #popupFormSection #popupForm {
        width: auto;
        flex: 1
    }
}

#popupFormSection #popupForm .wallBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex
}

#popupFormSection #popupForm .wallBg img {
    margin: auto;
    max-width: 500px;
    opacity: .025
}

#popupFormSection #popupForm #popupFormWrapper {
    width: 100%
}

#popupFormSection #popupForm #popupFormWrapper .slide {
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

#popupFormSection #popupForm #popupFormWrapper .slide:nth-child(1) {
    height: 100vh
}

#popupFormSection #popupForm #popupFormWrapper .slide .mainHeading {
    font-weight: 600
}

#popupFormSection #popupForm #popupFormWrapper .slide .heading {
    color: #0b0b0b;
    font-family: "Oswald", sans-serif;
    font-size: 3.052rem;
    font-weight: 400;
    line-height: .75
}

@media(min-width: 768px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .heading {
        font-size: 3.815rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .heading span {
    padding-right: .5rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .subHeading {
    margin-top: .75rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .selectBox {
    width: 100%;
    max-width: 600px;
    margin-top: 1.563rem
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .selectBox {
        margin-top: 2.441rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .selectBox select {
    color: #0b0b0b;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff
}

@media(min-width: 768px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .selectBox select {
        font-size: 1.563rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.563rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .optionDiv {
        justify-content: center;
        margin-top: 2.441rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li {
    width: 48%;
    min-height: 70px;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4vh;
    margin-bottom: 1rem;
    border: 2px solid #242323;
    box-shadow: 0px 0px 0px 1px rgba(1, 45, 75, .055), 2px 4px 12px rgba(0, 12, 32, .041);
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li {
        width: 200px;
        margin: 0 .75rem;
        margin-bottom: 1rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li:hover {
    box-shadow: 2px 4px 16px rgba(0, 15, 37, .055);
    transform: translateY(-2px)
}

@media(min-width: 768px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li:hover {
        border: 2px solid #0eb1a7
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li:hover label {
    color: #fff;
    background-color: rgba(0, 0, 0, 0)
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li:hover label span {
    text-shadow: none
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li input {
    position: absolute;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1);
    border-radius: 7px;
    opacity: 0;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li input::after {
    border-radius: 7px
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li label {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li label {
        font-size: 1.25rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li label span {
    font-weight: 500;
    margin-right: .25rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li label::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 103%;
    min-height: 70px;
    border-radius: 4vh;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0);
    transform: scale(0.97);
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .optionDiv li label::before {
        left: -4px;
        width: 200px
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .multiSelect {
    width: 100%;
    max-width: 600px;
    margin-top: 1.563rem
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .multiSelect {
        margin-top: 2.441rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .multiSelect select {
    border-radius: 4vh;
    font-size: 1.953rem
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .multiSelect select {
        font-size: 2.441rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .multiSelect .select2-results__option--selectable {
    background: linear-gradient(to right bottom, #0eb1a7, #099990, #05837b, #026c65, #005751)
}

#popupFormSection #popupForm #popupFormWrapper .slide .btnDiv .btns {
    margin: 0 .5rem;
    border-radius: 30px;
}

@media(min-width: 568px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .btnDiv .btns {
        min-width: 140px
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .note {
    margin: 0 auto;
    margin-top: 2.441rem;
    color: #5d5e5f;
    font-size: .9rem
}

@media(min-width: 768px) {
    #popupFormSection #popupForm #popupFormWrapper .slide .note {
        margin-top: 4.768rem
    }
}

#popupFormSection #popupForm #popupFormWrapper .slide .note span {
    font-weight: 600
}

#popupFormSection #popupForm #popupFormWrapper .slide .formDiv {
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 1.563rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .formDiv .heading {
    margin-bottom: 1rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .formDiv #contactSubmit span {
    margin-left: 1rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .formSection {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0
}

#popupFormSection #popupForm #popupFormWrapper .slide .image {
    display: block;
    width: 250px
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-top: 1.563rem;
    border-top: 1px solid #ebedf3
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv .logoDiv {
    display: block;
    width: 8rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv .title {
    margin: 0;
    margin-bottom: .5rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv p {
    margin: 0;
    color: #5d5e5f;
    font-size: .9rem;
    font-weight: 400
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv a {
    margin: 0;
    color: #0b0b0b;
    font-size: .9rem;
    cursor: pointer;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv a:hover {
    color: #0eb1a7
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv .contact {
    margin-top: .25rem
}

#popupFormSection #popupForm #popupFormWrapper .slide .contactDiv .contact span {
    margin: 0 .5rem;
    color: #0eb1a7
}

#wallSection {
    background-color: #fff;
    overflow: hidden;
    padding-top: 2.441rem
}

@media(min-width: 1024px) {
    #wallSection {
        padding-top: 0
    }
}

#wallSection #wallContainer {
    width: 100%
}

#wallSection #wallContainer #wallSlideWrapper {
    width: 100%;
    display: flex
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner {
    width: 100%;
    min-width: 100%
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv {
    height: 100%;
    display: block
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .wallTitle {
    color: #ffffff;
    font-size: 3.6vw;
    font-weight: 600;
    margin: 0;
    margin-top: 3.052rem
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .wallTitle span {
    white-space: nowrap
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .wallTitle .contentFlipDiv {
    display: block;
    overflow: hidden;
    height: 7vw;
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .wallTitle .contentFlipDiv .contentFlip {
    animation: contentFlip 12s ease-in-out infinite;
    animation-delay: 1.5s !important
}

@keyframes contentFlip {
    0% {
        margin-top: -7vw
    }

    35% {
        margin-top: -7vw
    }

    40% {
        margin-top: 0px
    }

    75% {
        margin-top: 0px
    }

    80% {
        margin-top: -7vw
    }

    100% {
        margin-top: -7vw
    }
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .wallTitle .contentFlipDiv .contentFlip li {
    height: 7vw;
    min-height: 7vw;
    display: flex;
    align-items: center
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .more {
    display: block;
    margin-top: 1rem;
    color: #cd992b;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

@media(min-width: 1024px) {
    #wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .more {
        font-size: 1.25rem
    }
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .more:hover::before {
    width: 40px
}

#wallSection #wallContainer #wallSlideWrapper .wallBanner .contentDiv .content .more::before {
    content: "";
    width: 30px;
    height: 2px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: .5rem;
    background-color: #0eb1a7;
    cursor: pointer;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

#wallSection #wallContainer #wallSlideWrapper .videoBanner {
    width: 100%;
    padding-top: 56.25%
}

@media(min-width: 1024px) {
    #wallSection #wallContainer #wallSlideWrapper .videoBanner {
        padding-top: 43.75%
    }
}

#wallSection #wallContainer #wallSlideWrapper .videoBanner video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    object-fit: cover
}

#wallSection #wallContainer #wallSlideWrapper .videoBanner video source {
    width: 100%
}

#wallSection #wallContainer #wallSlideWrapper .videoBanner .content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11
}



#aboutSection .aboutDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#aboutSection .aboutDiv .content {
    width: 100%
}

@media(min-width: 1024px) {
    #aboutSection .aboutDiv .content {
        width: 50%
    }
}

#aboutSection .aboutDiv .content .subHeading {
    font-weight: 400;
    margin-top: 1rem;
    border-left: 2px solid #cd992b;
    padding-left: .5rem
}
.subHeading1 {
    font-weight: 400;
    margin-top: 1rem;
    border-left: 2px solid #cd992b;
    padding-left: .5rem
}

#aboutSection .aboutDiv .content p {
    font-weight: 300
}

@media(min-width: 1024px) {
    #aboutSection .aboutDiv .content p {
        font-size: 1.25rem
    }
}

#aboutSection .aboutDiv .content .partner {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: #f5f8f8;
    padding: 1rem
}

@media(min-width: 568px) {
    #aboutSection .aboutDiv .content .partner {
        flex-direction: row
    }
}

#aboutSection .aboutDiv .content .partner img {
    width: 8rem
}

#aboutSection .aboutDiv .content .partner p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid #0eb1a7;
    padding-top: 1rem;
    margin-top: 1rem
}

@media(min-width: 568px) {
    #aboutSection .aboutDiv .content .partner p {
        text-align: left;
        border: none;
        border-left: 1px solid #0eb1a7;
        padding: 0;
        padding-left: 1rem;
        margin: 0;
        margin-left: 1rem
    }
}

#aboutSection .aboutDiv .content .partner p span {
    font-weight: 500
}
#aboutSection .aboutDiv .specialities {
    width: 100%;
    margin-top: 2.441rem
}

@media(min-width: 1024px) {
    #aboutSection .aboutDiv .specialities {
        width: 50%;
        max-width: 400px;
        margin: 0 auto
    }
}

#aboutSection .aboutDiv .specialities ul {
    margin: 0
}

#aboutSection .aboutDiv .specialities ul li {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem
}

#aboutSection .aboutDiv .specialities ul li img {
    width: 50px;
    opacity: .3
}

@media(min-width: 1024px) {
    #aboutSection .aboutDiv .specialities ul li img {
        width: 50px
    }
}

#aboutSection .aboutDiv .specialities ul li .textDiv {
    padding-left: 1rem
}

@media(min-width: 1024px) {
    #aboutSection .aboutDiv .specialities ul li .textDiv {
        padding-left: 1.563rem
    }
}

#aboutSection .aboutDiv .specialities ul li .textDiv span {
    display: block;
    color: #005e5c;
    font-size: 2.441rem;
    font-weight: 300;
    margin-bottom: .5rem;
    background: #005e5c;
    background: linear-gradient(to right, #005e5c 7%, #64c399 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

#aboutSection .aboutDiv .specialities ul li .textDiv p {
    margin: 0;
    color: #242323;
    font-weight: 300;
    line-height: 1.2
}

.image img {
    max-width: 80%;
    height: auto;
}

@media (max-width: 600px) {
    .image {
        display: block;
        font-size: 80%;
    }
    .image img {
        max-width: 100%;
        height: auto;
    }
    

    .image div {
        position: relative;
        padding-top: 1.3rem;
    }
    .image div p {
    color: #242323;
    font-weight: 300;
    text-align: start;
    }
}
.grid {
    padding-right: 25px!important;
}
.grid-1 {
    padding-left: 25px;
}
@media only screen and (max-width: 600px) {
    #who-we 
    {display:none;}
    #about-desk 
    {display:none;}
}
@media only screen and (min-width: 601px) {
    #who-we-mob
    {display:none;}
    .hide-about
    {display:none;}
}

#who-we {
    background-color: #f5f8f8;
}
#who-we-mob { 
    background-color:#f5f8f8;
}

@media(min-width: 1024px) {
    #who-we .content p {
        font-size: 1.25rem
    }
}
.culture {
    text-align: start;
    padding-left: 25px;
}

#wesection .wesection{
    padding-bottom: 1rem;
}
#wesection .content p {
    font-weight: 300;
}
@media(min-width: 1024px) {
    #wesection .content p {
        font-size: 1.25rem!important;
    }
}

.timeline-text {
    padding-left: 20px;
}
.fram-box {
    height: 7rem!important;
}
#timeline {
    background-color: #f5f8f8;
    padding: 50px 0px;
}
/* #timeline .heading {
    font-weight: 600;
    display: inline;
    border-bottom: 4px solid #cd992b;
    padding-bottom: 3px;
}  */
.timeline-item {
    padding-top: 20px;
}

.header-style {
    display: inline;
    padding-bottom: 3px;
}
.heading-para {
    padding-top: 1rem;
    text-align: start;
    font-weight: 300;
}

#aboutSection .vision  {
    padding-top: 2.441rem;
}
@media(min-width: 1024px) {
    #aboutSection .vision{
        padding-top: 0;
        padding-left: 2.441rem;
    }
}

#vision {
    background-color: #f5f8f8;
}
#bannerSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff
}

@media(min-width: 768px) {
    #bannerSection {
        flex-direction: row;
        justify-content: space-between
    }
}

#bannerSection .content .subHeading {
    margin-top: .5rem;
    font-weight: 300
}

#bannerSection .content .contact {
    display: flex;
    align-items: f;
    flex-direction: column;
    margin-top: 1rem
}

@media(min-width: 768px) {
    #bannerSection .content .contact {
        flex-direction: row
    }
}

#bannerSection .content .contact a {
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid #ebedf3;
    padding: 1rem 1.563rem;
    border-radius: 4vh;
    cursor: pointer;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

#bannerSection .content .contact a:hover {
    border: 1px solid #0eb1a7
}

#bannerSection .content .contact a span{
    color: #000000;
}
#bannerSection .content .contact a span:hover{
    color: #cd992b;
}

#bannerSection .content .contact a img {
    height: 20px;
    width: auto;
    margin-right: .5rem;
}

#bannerSection .formAction {
    margin-left: auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.441rem;
    background-color: #0eb1a7;
    background: linear-gradient(to left top, #0eb1a7, #3cb99f, #5ac097, #76c68e, #91cc87);
    border-radius: 100%;
    cursor: pointer
}

@media(min-width: 768px) {
    #bannerSection .formAction {
        margin: 0
    }
}

@media(min-width: 1024px) {
    #bannerSection .formAction {
        width: 200px;
        height: 200px
    }
}

@media(min-width: 1024px) {
    #bannerSection .formAction:hover span {
        padding: 3.815rem
    }
}

#bannerSection .formAction span {
    width: 100%;
    height: 100%;
    padding: 2.441rem;
    display: flex;
    cursor: pointer;
    transition: all .3s cubic-bezier(0, 0, 0.5, 1)
}

@media(min-width: 1024px) {
    #bannerSection .formAction span {
        padding: 4.768rem
    }
}

#bannerSection .formAction span img {
    cursor: pointer
}

.investment {
    background-color: #f5f8f8;
    padding-top: 4rem;
}
/* .investment {
    background-color: #f5f8f8;
    padding-top: 4rem;
} */

.row-1 {
    margin-top: 3rem!important;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
}

@media(max-width:500px) {
    .row-1 .title {
        padding-top: 1rem;
    }
}

@media (min-width: 768px) {
.text {
    font-size: 20px;
    line-height: 1.99rem;
}
}
.team-img {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 267px;
}

@media (min-width: 992px) {
    .team-img {
        float: left;
        margin-right: 2rem;
    }
}
/*# sourceMappingURL=index.css.map */